{% extends "layouts/base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container bg-white rounded shadow p-4">
        <h1 class="mb-4 text-center">Ejemplos de mensajes de ayuda</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo 1</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Llamado al contacto de emergencia</h6>
                        <p class="card-text">Hola, necesito que llames al número de telefono que aparece en tu pantalla. Si no contesta llama a este npumero: +569 1234 5678. Cuando contesten ek telefono diles que yo estoy sufriendo una crisis de pánico, ponlo en altavoz y dejame hablar con el, pues su voz ayuda a tranquilizarme.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo 2</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Pedir algo que necesite</h6>
                        <p class="card-text">Hola, estoy actualmente pasando por una crisis de pánico, la mejor manera de poder ayudarme es que me traigas un vaso/botella con agua.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo 3</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Algún sonido/canción especial</h6>
                        <p class="card-text">Hola me encuentro sufriendo una crisis de pánico, la única manera de poder relajarme es escuchando el sonido del mar. Por favor busca en Youtube sonidos del mar, llevame a un lugar con poco ruido y dejame escuchar ese sonido. Si tienes audifonos sería lo ideal.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ejemplo 4</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Llevar a un lugar seguro</h6>
                        <p class="card-text">Hola, actualmente estoy teniendo una crisis de pánico, te pido que por favor me lleves a un lugar con poco ruido y que tenga áreas verdes. La unica manera en la que me podría tranquilizar es estar un rato acostado en el pasto y respirando aire puro.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
