{% extends "layouts/base.html" %}
{% block content %}
<style>
    .custom-margin-top {
        margin-top: 2rem;
    }
    h1 {
        color: #007BFF;
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
    }
    .copy-btn {
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        font-size: 0.9rem;
        margin-top: 1rem;
    }
    .copy-btn:hover {
        background-color: #0056b3;
    }
</style>
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container bg-white rounded shadow p-4 custom-margin-top">
        <h1 class="mb-4 text-center">Ejemplos de mensajes de ayuda</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            {% for card in cards %}
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.text }}</p>
                        <button class="copy-btn" onclick="copyText(this)">Copiar texto</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function copyText(button) {

        const cardText = button.parentElement.querySelector('.card-text').innerText;

        navigator.clipboard.writeText(cardText)
            .then(() => {
                button.innerText = '¡Texto copiado!';
                setTimeout(() => {
                    button.innerText = 'Copiar texto';
                }, 2000);
            })
            .catch(err => {
                console.error('Error al copiar el texto: ', err);
            });
    }
</script>
{% endblock %}
